.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.signupParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 500px;
}

.signupParentDiv form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  margin-bottom: -20px;
  margin-top: -10px;
  font-size: 15px;
}


.signupParentDiv input {
  width: 400px;
  padding-left: 5px;
  color: rgb(33, 33, 33);
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  height: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Removes the default appearance */
  margin: 0; /* Removes the default margin */
}

.signupParentDiv button {
  border: none;
  background-color: rgb(9, 132, 232);
  color: white;
  height: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.15s;
}
.signupParentDiv button:hover {
  transform: scale(1.02);
}

.signupParentDiv a {
  margin: 10px 0 20px 0;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.15s;
}

.signupParentDiv a:hover{
  transform: scale(1.05);
}